.stationCard {
    .stationLogo {
        transition: filter 0.3s ease-in-out, opacity 0.3s ease-in-out, padding 0.2s ease-in-out;
        position: relative;
        padding: 4px;
    }

    .playIcon {
        transition: opacity 0.3s ease-in-out;
        opacity: 0;
        transform: scale(1);
    }

    &:hover {
        .stationLogo {
            filter: grayscale(100%) brightness(50%);
            opacity: 0.75;
            padding: 0;
        }

        .playIcon {
            color: white;
            opacity: 1;
            animation: scale 0.2s ease-out forwards;
            animation-delay: 0.1s;
        }
    }

    &:not(:hover) .playIcon {
        animation: scaleReverse 0.2s ease-in forwards;
    }
}

@keyframes scale {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }
}

@keyframes scaleReverse {
    0% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
